page-home {
  #map {
    height: 95%;
    width: 100%;
  }
  .overlay{
    position: absolute;
    background: #488aff;
    color:white;
    padding:0px 10px 0px 10px;
    z-index: 1000;
    bottom:20%;
  }

  .directionsBtn{
    position: absolute;
    background: #488aff;
    color:white;
    padding:10px;
    z-index: 1000;
    bottom:20%;
  }
  ion-card {
      max-height: 220px;
      overflow: scroll;
      position: absolute;
      z-index: 1;
  }
  button{
    margin-top: -80px!important;
    height: 93px!important;
    font-weight: bold;
  }

}
.success {
  > div{
       background-color:#32db64!important;
   }
   margin-top:50px;
}
