<ion-header>
  <ion-navbar color="danger">
    <ion-buttons  end>
     <button style="top:35px" ion-button icon-only><ion-icon name="book"></ion-icon></button>
   </ion-buttons>
    <ion-title>
      Car Finder
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="this.parked === true" class="overlay">
    <p>Your car is parked</p>
    <p>Lat: {{this.lat}}</p>
    <p>Lng: {{this.lng}}</p>
  </div>
  <!-- <ion-card  *ngIf="this.starting === true">
       <ion-card-content>
           <div #directionsPanel></div>
       </ion-card-content>
   </ion-card> -->
  <div #map id="map"></div>
  <button *ngIf="this.parked === true" ion-button color="dark" full (click)="startNavigating()">
    <div>
      <ion-icon name="map"></ion-icon>
      <label>FIND CAR</label>
    </div>
  </button>
  <button *ngIf="this.starting === true" ion-button color="secondary" (click)="deleteMarkers()" full>
    <div>
      <ion-icon name="location"></ion-icon>
      <label>FOUND CAR</label>
    </div>
  </button>
  <button *ngIf="this.parked === false" ion-button full (click)="parkCar()">
    <div>
      <ion-icon name="car"></ion-icon>
      <label>PARK CAR</label>
    </div>
  </button>
</ion-content>
