<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Car Finder
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="this.starting === true">
       <ion-card-content>
           <div #directionsPanel></div>
       </ion-card-content>
   </ion-card>
  <div #map id="map"></div>
  <button *ngIf="this.parked === true" ion-button color="danger" full (click)="startNavigating()">
    <div>
      <ion-icon name="map"></ion-icon>
      <label>FIND CAR</label>
    </div>
  </button>
  <button *ngIf="this.starting === true" ion-button color="secondary" full>
    <div>
      <ion-icon name="car"></ion-icon>
      <label>FOUND CAR</label>
    </div>
  </button>
  <button *ngIf="this.parked === false" ion-button full (click)="parkCar()">
    <div>
      <ion-icon name="car"></ion-icon>
      <label>PARK CAR</label>
    </div>
  </button>
</ion-content>
